src/**
tsconfig.json
.vscodeignore
*.tgz
../workspace.d.ts
../**
webview/src/**
webview/tsconfig.json
webview/node_modules/**
tailwind.config.cjs
**/*.map
**/*.d.ts
**/*.test.ts
**/*.spec.ts
**/__tests__/**
**/test/**
**/tests/**
